* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* background menu principal */

.bg-menu {
    background: rgba(5, 9, 39, 0.377);
}

.top-nav-collapse {
    background: rgb(5, 9, 39)!important;
}

.bg-info {
    color: white;
    text-shadow: 1px 2px 1px rgba(56, 56, 56, 0.527);
}

.far.fa-lightbulb {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.bg-section-muebleria,
.bg-section-remodelacion {
    background: rgb(21.7%, 21.7%, 31.6%);
    color: white;
}

.bg-footer {
    background: rgb(25.7%, 25.7%, 25.7%);
}