* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.success-info {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 8em;
}


/* background menu principal */

.bg-menu {
    background: rgba(5, 9, 39, 0.377);
}

.top-nav-collapse {
    background: rgb(5, 9, 39)!important;
}

.bg-info {
    color: white;
    text-shadow: 1px 2px 1px rgba(56, 56, 56, 0.527);
}

.far.fa-lightbulb {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.bg-section-muebleria,
.bg-section-remodelacion {
    background: rgb(21.7%, 21.7%, 31.6%);
    color: white;
}

.login {
    margin-top: 10em;
    margin-bottom: 8em;
}

footer {
    bottom: 0;
}

.bg-footer {
    background: rgb(25.7%, 25.7%, 25.7%);
}


/* Estilos íconos servicios  páกginas principales*/

.article-services-muebleria i {
    font-size: 10vw;
    padding: 1.5vw;
    border: 1px solid rgba(56, 56, 56, 0.2);
    box-shadow: 2px 3px 2px rgb(22.2%, 22.2%, 22.2%);
    border-radius: 5%;
    cursor: pointer;
}

.article-services-muebleria .iconos,
.servicios-aseo-industrial .iconos,
.servicios-remodelacion-construccion .iconos {
    width: 10vw;
    padding: 1.5vw;
    border: 1px solid rgba(56, 56, 56, 0.2);
    box-shadow: 2px 3px 2px rgb(22.2%, 22.2%, 22.2%);
    border-radius: 5%;
    cursor: pointer;
}


/* Estilos íconos clientes servicios nosotros*/

.clientes-servicios-nosotros i {
    font-size: 6vw;
}